@model ResetPasswordModel

<h1>Şifre Sıfırlama</h1>
<hr />


<form method="post">
    <div asp-validation-summary="ModelOnly" class="small text-danger"></div>
    <div class="form-group mb-3 col-3 text-center">
        <label class="form-label" asp-for="Password">Şifre</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="123456789">
        <span class="form-text text-danger small" asp-validation-for="Password"></span>
    </div>
    <div class="form-group mb-3 col-3 text-center">
        <label class="form-label" asp-for="PasswordAgain">Şifre Tekrar</label>
        <input type="password" asp-for="PasswordAgain" class="form-control" placeholder="123456789">
        <span class="form-text text-danger small" asp-validation-for="PasswordAgain"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-success col-3">Şifre Sıfırla!</button>
    </div>

    @if (ViewData["BasariliMesajGoster"] != null && (bool)ViewData["BasariliMesajGoster"] == true)
    {
        <div class="alert alert-success col-3 mt-3">
            Şifreniz güncellenmiştir. Giriş yapmak için <a asp-action="Login" asp-controller="Auth">giriş sayfasına</a> gidiniz.
        </div>
    }
</form>