<div class="box text-success">
    <div>
        <h1 class="display-2">Siparişiniz Alındı</h1>
        <h3 class="display-6">Ödeme Başarılı</h3>
    </div>
</div>

<style>
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .box div {
            width: 100%;
            height: 100%;
        }
</style>

@* <div class="row">
    <div class="col text-center text-success">

    </div>
</div> *@